@import './icon';

.spin[class*='mp-icon-'] {
    animation: mp-frames-icon-spin 2s infinite linear;
}

.pulse[class*='mp-icon-'] {
    animation: mp-frames-icon-spin 1s infinite steps(8);
}

@keyframes mp-frames-icon-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(359deg);
    }
}
