//颜色
$blue:   	#0081ff;
$cyan:   	#37c0fe;
$green:   	#3eb93b;
$olive:   	#8dc63f;
$red:   	#e54d42;
$orange:   	#f37b1d;
$yellow:   	#fbbd08;
$pink:   	#e03997;
$mauve:   	#b745cb;
$purple:   	#8044de;
$brown:   	#a5673f;
$grey:   	#8799a3;

//基础颜色数组
$colors: (
        'blue':  	$blue,
        'cyan':  	$cyan,
        'green':  	$green,
        'olive':  	$olive,
        'red':  	$red,
        'orange':  	$orange,
        'yellow':  	$yellow,
        'pink':  	$pink,
        'mauve':  	$mauve,
        'purple':  	$purple,
        'brown':  	$brown,
        'grey':  	$grey
);

$gray-a:	#aaaaaa;
$gray-b:    #bbbbbb;
$gray-c:    #cccccc;
$gray-d:    #dddddd;
$gray-e:    #eeeeee;
$gray-f: 	#f8f9fa;
$gray-g: 	#f8fafc;
$white: 	#ffffff;

$grays: (
        'gray-a':  	$gray-a,
        'gray-b':  	$gray-b,
        'gray-c':  	$gray-c,
        'gray-d':  	$gray-d,
        'gray-e':  	$gray-e,
        'gray-f':  	$gray-f,
        'gray-g':  	$gray-g,
        'white':  	$white
);

//灰度
$dark-0:    #000000;
$dark-1:    #111111;
$dark-2:    #222222;
$dark-3:    #333333;
$dark-4:    #444444;
$dark-5:    #555555;
$dark-6:    #666666;
$dark-7:    #777777;
$dark-8:    #888888;
$dark-9:    #999999;

$darks: (
        'dark':  	$dark-0,
        'dark-1':  	$dark-1,
        'dark-2':  	$dark-2,
        'dark-3':  	$dark-3,
        'dark-4':  	$dark-4,
        'dark-5':  	$dark-5,
        'dark-6':  	$dark-6,
        'dark-7':  	$dark-7,
        'dark-8':  	$dark-8,
        'dark-9':  	$dark-9
);

// 百分比
$percents: (
        1: 10%,
        2: 20%,
        3: 30%,
        4: 40%,
        5: 50%,
        6: 60%,
        7: 70%,
        8: 80%,
        9: 90%
);

// 边框
$border-width:          1rpx !default;                      // 边框大小

// 圆角
$radius:                6rpx !default;                     // 默认圆角大小
$radius-lg:             10rpx !default;                     // 大圆角
$radius-sm:             4rpx !default;                      // 小圆角
$round-pill:            1000rpx !default;                   // 半圆

// 动画过渡
$transition-base:       all .2s ease-in-out !default;       // 默认过渡
$transition-base-out:   all .04s ease-in-out !default;      // 进场过渡
$transition-fade:       opacity .15s linear !default;       // 透明过渡
$transition-collapse:   height .35s ease !default;          // 收缩过渡

// 间距
$spacer: 20rpx !default;
$spacers: (
        0: 0,
        1: $spacer * 0.25,
        2: $spacer * .5,
        3: $spacer,
        4: $spacer * 1.5,
        5: $spacer * 3,
        6: $spacer * 5,
);

// 字形
$font-weight-lighter:         lighter !default;
$font-weight-light:           300 !default;
$font-weight-normal:          400 !default;
$font-weight-bold:            700 !default;
$font-weight-bolder:          900 !default;

$fontsize: (
        xs: 20,
        sm: 24,
        df: 28,
        lg: 32,
        xl: 36,
        xxl: 44,
        sl: 80,
        xsl: 120
);


// 段落
$line-height-base:            1.5 !default;
$line-height-lg:              2 !default;
$line-height-sm:              1.25 !default;

// transform 缩放尺寸
$scales: (
        xs: 0.5,
        sm: 0.75,
        df: 1,
        lg: 1.25,
        xl: 1.5,
        xxl: 2,
        sl: 6,
        xsl: 10
);